<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/main.css" />
        <title>Tailwind + Parcel!</title>
    </head>
    <body class="bg-white text-sans p-12">
        <h1 class="text-xl">Hello Tailwind!</h1>
        <p>
            Welcome to your project. Bootstrapped with
            <a href="https://tailwindcss.com">TailwindCSS</a> and
            <a href="https://parceljs.org">Parcel</a>
        </p>
    </body>
</html>
